@import url('http://fonts.cdnfonts.com/css/myriad-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Myriad-Pro', sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--font-roboto);
}
input {
    overflow: visible;
}
/* Modal */
.ReactModalPortal > div{
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
  }
  
  .modal-fondo {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    border-radius: 0.75rem;
    /* color: white; */
    background-color: #F6F1F1;
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
  }
/* Custom styles */
@layer components {
    .containerApp {
        @apply relative overflow-x-auto tracking-wide;
    }

    .innerWidth {
        @apply w-full xxl:max-w-[1280px] xxl:mx-auto;
    }

    .paddings {
        @apply sm:p-[4rem] md:py-[2rem] p-[1.5rem];
    }
    .yPaddings {
        @apply sm:pt-[4rem] sm:pb-[4rem] xl:pt-[2rem] xl:pb-[2rem] pt-[3rem] pb-[3rem];
    }
    .xPaddings {
        @apply sm:px-[4rem] md:px-[2rem] px-[1.5rem];
    }
}

.font-myriad {
    font-family: 'Myriad-Pro', sans-serif;
}
